.vc-container {
    border: none;
    @include bs(0, 0, 5px, 0, $black, 0.15);
  }
  .vc-pane-container {
    width: 100%;
    height: 100%;
  
    .vc-pane {
      padding: 20px;
    }
  
    .vc-header {
      height: 30px;
      padding: 0;
  
      .vc-title {
        @include fs(m);
        @include ffw(medium);
      }
    }
  
    .vc-arrows-container {
      padding: 20px 20px 0;
  
      .vc-arrow {
        border-radius: 50%;
        @include bs(0, 0, 5px, 0, $black, 0.15);
  
        path {
          color: $black;
        }
      }
    }
  
    .vc-weeks {
      padding: 0;
      margin-top: 5px;
      width: 100%;
  
      .vc-weekday {
        @include fs(s);
        @include ffw(medium);
        color: $gs8;
  
        padding: 0;
        @include flex(center, center);
        height: 25px;
        width: 40px;
      }
  
      .vc-day {
        width: 40px;
        height: 40px;
  
        border-bottom: 1px solid $gs4;
        border-right: 1px solid $gs4;
  
        &.on-top {
          border-top: 1px solid $gs4;
        }
        &.weekday-position-1 {
          border-left: 1px solid $gs4;
        }
  
        .vc-day-content {
          @include fs(s);
          @include ffw(medium);
        }
  
        &.in-next-month {
          display: none;
        }
  
        &.is-not-in-month.in-prev-month * {
          color: $gs9;
          opacity: 1;
        }
      }
  
      .vc-highlight {
        background-color: $color1 !important;
        @include size(30px, 30px);
      }
    }
  }
  .vc-popover-content {
    .vc-popover-caret {
      display: none;
    }
  }